body {
    background-color: #10110E;
    overflow-x: hidden;
}

:not(span) {
    color: #D1FFD6;
    font-family: 'Open Sans', sans-serif;
}

.colored * {
    color: inherit;
}

code, .mono, .editor, code * {
    font-family: monospace; !important
}

code, code * {
    font-size: 15px;
}

hr {
    color: #5FFF57;
}

a {
    color: #5FFF57;
}

a:hover {
    color: #3DFF33;
}

span {
    font-family: inherit;
}

footer {
    background-color: #2B2C29;
    text-align: center;
}

.middle {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    margin: auto;
}

.topbar {
    position: fixed;
    top: 0;
    background: #2B2C29;
    width: 100%;
    height: auto;
}

.footer {
    position: fixed;
    bottom: 0;
    background: #2B2C29;
    width: 100%;
    height: auto;
}

.question {
    transition: 1s;
}

/* TEXT INPUTS */

input[type=text], input[type=password], input[type=number], .editor, textarea {
    /*-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;*/
    background: #2B2C29;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #5FFF57;
    border-radius: 2px;
}

input[type=text]:focus, input[type=password]:focus, input[type=number]:focus, .editor:focus,  textarea:focus {
    background: #40413E;
    box-shadow: 0 0 7px #3DFF33;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 2px solid #3DFF33;
}

/* BUTTONS */

button, input[type=button], input[type=submit] {
    color: black;
    background-color: #888;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px 5px;
}


.conteudo {
    margin: 0 auto;
    white-space: pre-wrap;
    max-width: 1080px;
}

img {
    max-width: 33%;
    max-height: 500px;
}

.big {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: -4px;
}

footer {
    width: 100%;
    position: fixed;
    float: bottom;
    bottom: 0;
    left: 0;
}

sup, sub {
    padding-right: 1px;
    padding-left: 1px;
    margin-right: 1px;
    font-size: 0.7em;
}

b, i, u {
    color: inherit;
}

.right {
    text-align: right;
}

.restable {
    border: 2px double #A4FFA4;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.restable td, .restable th {
    border-top: 1px solid #A4FFA4;
    border-left: 1px solid #A4FFA4;
    padding: 3px;
    padding-right: 5px;
}

.restable td:first-child {
    border-left: none;
}

.restable tr:first-child td {
    border-top: none;
}

.ajude {
    color: cyan !important;
    border: 2px double #A4FFA4;
    border-radius: 8px;
    padding: 8px;
}

.ajude:hover {
    color: cyan !important;
    font-weight: bold;
}

.orange_link {
    color:orange !important;
}

.orange_link:hover {
    color: orange !important;
    font-weight: bold;
}

.buttonlink {
    background: #00ed4f;
    background-image: linear-gradient(to bottom, #00ed4f, #00a806);
    border-radius: 50px;
    color: black;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border-bottom: 10px;
    line-height: 20px;
    white-space: nowrap;
}

.buttonlink:hover {
    background: #00ff51;
    background-image: linear-gradient(to bottom, #00ff51, #0fb300);
    text-decoration: none;
    color: black;
}

.btnred {
    background: #e80000;
    background-image: linear-gradient(to bottom, #e80000, #940000);
}

.btnred:hover {
    background: #ff0000;
    background-image: linear-gradient(to bottom, #ff0000, #b00000);
}

.btnblue, .admvisao .buttonlink {
    background: #00bceb;
    background-image: linear-gradient(to bottom, #00bceb, #00799e);
}

.btnblue:hover, .admvisao .buttonlink:hover {
    background: #00d0eb;
    background-image: linear-gradient(to bottom, #00d0eb, #008da6);
}

.btnorange {
    background: #ff8c12;
    background-image: linear-gradient(to bottom, #ff8c12, #f76b00);
}

.btnorange:hover {
    background: #ffa200;
    background-image: linear-gradient(to bottom, #ffa200, #ff7700);
}

.smallbtn {
    padding: 2px 8px 2px 8px;
}

.bigbtn {
    font-size: 20px;
    padding: 6px 15px 6px 15px;
    line-height: 25px;
}